<!-- Top Header (ẩn ở màn hình nhỏ hơn md) -->
<div class="top-header d-none d-md-block bg-secondary-subtle py-1">
  <div
    class="container d-flex justify-content-between align-items-center"
    style="width: 1108px"
  >
    <div class="d-flex">
      <div class="telephone d-flex align-items-center me-4">
        <i class="bi bi-telephone"></i>
        <span class="ms-2">+84.24 6257 6789</span>
      </div>
      <div class="email d-flex align-items-center me-4">
        <i class="bi bi-envelope"></i>
        <span class="ms-2">info@interland.vn</span>
      </div>
      <div class="clock d-flex align-items-center">
        <i class="bi bi-clock"></i>
        <span class="ms-2">8:00 - 17:30</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <img
        class="flag me-2"
        src="/img/icons/vietnam.png"
        alt="Vietnam Flag"
        style="height: 27px"
      />
      <img
        class="flag"
        src="/img/icons/united-kingdom.png"
        alt="UK Flag"
        style="height: 27px"
      />
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width: 1294px">
  <div class="container" style="width: 1108px">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/img/logos/logo.png" alt="Logo" style="height: 40px" />
    </a>

    <!-- Button toggle (Mobile) -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Dịch vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
