<div class="container-fluid">
  <a class="navbar-brand" href="#">My Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="#">Thông báo</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Tài khoản</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Đăng xuất</a></li>
    </ul>
  </div>
</div>
