<!-- Sidebar -->
<div class="sidebar d-none d-md-flex flex-column p-2">
  <h5 class="text-white text-center mt-3">Menu</h5>
  <a href="/dashboard"><i class="bi bi-windows me-2"></i>Dashboard</a>
  <a href="#"><i class="bi bi-file-post me-2"></i> Posts</a>
  <a href="/categories"><i class="bi bi-bookmark-fill me-2"></i> Categories</a>
  <a href="#"><i class="bi bi-person-gear me-2"></i> Users</a>
  <a href="#"><i class="bi bi-sliders me-2"></i> Settings</a>
</div>
