body {
  font-family: "Monsieur La Doulaise", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.general-container {
  max-width: 1324px;
}
.top-header,
.top-navbar,
.main-content {
  max-width: 1294px;
}
.top-header {
  height: 36px;
}
.gnr-text {
  font-size: 14px;
}
