<%- include('../layout/app', { body: `
<!-- Nội dung chính -->
<div class="content">
  <div class="row">
    <div class="breadcrumb bg-primary-subtle rounded">
      <h2 class="ms-4 mt-2 mb-2">CATEGORIES</h2>
    </div>
  </div>
  <div class="row d-md-flex">
    <div class="col col-md-8">
      <div class="card shadow">
        <div class="card-header">
          <h3>Index</h3>
        </div>
        <div class="card-body">
          <p>Danh sách categories</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card shadow">
        <div class="card-header">
          <h3>Add new</h3>
        </div>
        <div class="card-body">
          <p>Thêm mới categories</p>
        </div>
      </div>
    </div>
  </div>
</div>
` }) %>
